.sidebar{
    background-color:rgb(238, 235, 241);
    width: 250px;
    height: 100vh;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
    position: relative;
    z-index: 100;
    
   
}
/* .signup_login{
    display: flex;
    position: absolute;
    align-items: center;
  
}
.sarfaraz1{
    position: relative;
   left: 78px;
  bottom: 20px;
    border: none;
  
   padding: 4px 8px 4px 8px;
   
    /* background-color: red; */
    
   
/* }
.sarfaraz{
    position: relative;
    left: 60px;
    border: none;
    bottom: 35px;
    color: black;
    
    padding: 4px 8px 4px 8px;
    
    border-radius: 20px;
   
}
#abl{
    position: relative;
    left: 117px;
    bottom: 60px;
    
}
li{
    list-style: none;
    position: relative;
    left: 90px;
    top: 2.5px;
}
.s2{
    position: relative;
    top: 50px;
    right: 50px;
    display: flex;
    color: black;
    font-size: 12px;

    
}
#s3{
    position: relative;
    top:55px;
    color: red;
    left: 15px;
    font-size: 20px;
    font-weight: lighter;
}
#s4{
    position: relative;
    top:100px;
    color: black;
    right: 25px;
    font-size: 15px;
    font-weight: lighter;
}
#s5{
    position: relative;
    top:140px;
    color: black;
    right: 70px;
    font-size: 15px;
    font-weight: lighter; 
}
#s7{
    height: 10px;
    width: 10px;
} */ 
/* .signup_login{
   
    position: absolute;
    top: 20px;
    left: 70px;
  
    
}
li{
    position: relative;
    left: 50px;
   bottom:  15px;
    list-style: none;
background-color: white;
/* height: 30px; */
/* width: 0px; */

